## Importing Necessary Libraries

In [73]:
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import NearestNeighbors
import pickle
import pandas as pd

## Data Preprocessing

In [74]:
df = pd.read_csv('/content/drive/MyDrive/data/Online Retail.csv')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [80]:
data = df[['InvoiceNo', 'Description', 'Quantity', 'UnitPrice', 'Country', 'InvoiceDate']]
data.head()

  InvoiceNo  ...     InvoiceDate
0    536365  ...  12/1/2010 8:26
1    536365  ...  12/1/2010 8:26
2    536365  ...  12/1/2010 8:26
3    536365  ...  12/1/2010 8:26
4    536365  ...  12/1/2010 8:26

[5 rows x 6 columns]

In [81]:
data.shape

(541909, 6)

In [82]:
data['Country'].value_counts()

United Kingdom          495478
Germany                   9495
France                    8557
EIRE                      8196
Spain                     2533
Netherlands               2371
Belgium                   2069
Switzerland               2002
Portugal                  1519
Australia                 1259
Norway                    1086
Italy                      803
Channel Islands            758
Finland                    695
Cyprus                     622
Sweden                     462
Unspecified                446
Austria                    401
Denmark                    389
Japan                      358
Poland                     341
Israel                     297
USA                        291
Hong Kong                  288
Singapore                  229
Iceland                    182
Canada                     151
Greece                     146
Malta                      127
United Arab Emirates        68
European Community          61
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              30
Bahrain                     19
Saudi Arabia                10
Name: Country, dtype: int64

### Handling Categorical Data

In [83]:
encoder = LabelEncoder()
data['CountryNumeric'] = encoder.fit_transform(data['Country'])
data.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  InvoiceNo  ... CountryNumeric
0    536365  ...             36
1    536365  ...             36
2    536365  ...             36
3    536365  ...             36
4    536365  ...             36

[5 rows x 7 columns]

In [84]:
data.to_csv('preprocessed_data_for_nn_model.csv')

## Modelling

In [35]:
final_df_for_nn_model = data[['Quantity', 'UnitPrice', 'Country']]
model = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)
model.fit(final_df_for_nn_model.values)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

## Testing Model

In [36]:
test = final_df_for_nn_model.iloc[0].values.reshape(1, -1)
test

array([[ 6.  ,  2.55, 36.  ]])

In [37]:
ind = model.kneighbors(test, return_distance=False)
ind

array([[489240, 456182, 177199, 422195, 489239, 286795, 489283,  83563,
         17019, 177640, 177696, 421805, 421803, 421802, 177839, 177840,
        421702, 539944, 177200,  83775]])

In [38]:
recommended_product = df.iloc[ind[0]]
recommended_product

       InvoiceNo StockCode  ... CustomerID         Country
489240    577985     21535  ...    15116.0  United Kingdom
456182    575680     23311  ...    13148.0  United Kingdom
177199    552046     22303  ...    15235.0  United Kingdom
422195    573069     22301  ...    18077.0  United Kingdom
489239    577985     21531  ...    15116.0  United Kingdom
286795    562043     22970  ...    15342.0  United Kingdom
489283    578006     22300  ...    13363.0  United Kingdom
83563     543325     21175  ...    17692.0  United Kingdom
17019     537671    18097C  ...    13267.0  United Kingdom
177640    552166     21039  ...    13475.0  United Kingdom
177696    552170     82482  ...    16458.0  United Kingdom
421805    573027     21535  ...    18225.0  United Kingdom
421803    573027     22896  ...    18225.0  United Kingdom
421802    573027     21155  ...    18225.0  United Kingdom
177839    552185     21155  ...    12921.0  United Kingdom
177840    552185     47580  ...    12921.0  United Kingdom
421702    573020     22467  ...    14842.0  United Kingdom
539944    581451     22350  ...    17144.0  United Kingdom
177200    552046     22305  ...    15235.0  United Kingdom
83775     543349     22970  ...    17774.0  United Kingdom

[20 rows x 8 columns]

## Making Recommendations

In [62]:
def recommend_product(*product_data):
    ind = model.kneighbors(product_data, return_distance=False)
    return df.iloc[ind[0]][['InvoiceNo', 'Description', 'Quantity', 'UnitPrice', 'Country']]

In [64]:
test = data.iloc[0][['Quantity', 'UnitPrice', 'Country']].values.reshape(1, -1)
input = test.tolist()[0]
recommend_product(input)

       InvoiceNo  ...         Country
489240    577985  ...  United Kingdom
456182    575680  ...  United Kingdom
177199    552046  ...  United Kingdom
422195    573069  ...  United Kingdom
489239    577985  ...  United Kingdom
286795    562043  ...  United Kingdom
489283    578006  ...  United Kingdom
83563     543325  ...  United Kingdom
17019     537671  ...  United Kingdom
177640    552166  ...  United Kingdom
177696    552170  ...  United Kingdom
421805    573027  ...  United Kingdom
421803    573027  ...  United Kingdom
421802    573027  ...  United Kingdom
177839    552185  ...  United Kingdom
177840    552185  ...  United Kingdom
421702    573020  ...  United Kingdom
539944    581451  ...  United Kingdom
177200    552046  ...  United Kingdom
83775     543349  ...  United Kingdom

[20 rows x 5 columns]

## Model Export and Deployment

In [68]:
file = open('model.pkl', 'wb')
pickle.dump(model, file)

In [69]:
model = pickle.load(open('model.pkl', 'rb'))
model

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

In [87]:
le_name_mapping = dict(zip(encoder.transform(encoder.classes_), encoder.classes_))

In [88]:
le_name_mapping

{0: 'Australia',
 1: 'Austria',
 2: 'Bahrain',
 3: 'Belgium',
 4: 'Brazil',
 5: 'Canada',
 6: 'Channel Islands',
 7: 'Cyprus',
 8: 'Czech Republic',
 9: 'Denmark',
 10: 'EIRE',
 11: 'European Community',
 12: 'Finland',
 13: 'France',
 14: 'Germany',
 15: 'Greece',
 16: 'Hong Kong',
 17: 'Iceland',
 18: 'Israel',
 19: 'Italy',
 20: 'Japan',
 21: 'Lebanon',
 22: 'Lithuania',
 23: 'Malta',
 24: 'Netherlands',
 25: 'Norway',
 26: 'Poland',
 27: 'Portugal',
 28: 'RSA',
 29: 'Saudi Arabia',
 30: 'Singapore',
 31: 'Spain',
 32: 'Sweden',
 33: 'Switzerland',
 34: 'USA',
 35: 'United Arab Emirates',
 36: 'United Kingdom',
 37: 'Unspecified'}